.alert {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 20%;
  transform: translateY(100%);
  animation: slideIn 0.8s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
}
to {
  transform: translateY(0);
}
